{% extends 'base_project.html' %}

{% block intro %}
<section id="about">
    <div class="container">
        <h2>BLASTER</h2>
        <p>Better Localised Autonomous Scouring and Tethered Ejecting Rotorcraft is a
             project initiated by Aerial Innovation Research (AIR) Laboratory @ SUTD, 
             a research lab based at SUTD that specializes in 
             novel drone designs and technologies. The BLASTER drone ejects a
             high pressure water jet stream to clean debris of tall structures 
             such as walkways. During my polytechnic studies, 
             I first joined the project as an intern, and was 
             then employed as a full-time research technician before leaving 
             for National Service. After matriculating into SUTD, I was invited 
             back to contribute during the summer break. My main responsibilities 
             included designing drone components using CAD and 3D printing, as well 
             as developing and fabricating test rigs for research experiments using Arduino, 
             sensors, and 3D-printed parts.
        </p>
        
        <div class="row">
            <div class="column">
                <h5>My Role</h5>
                <p>Research technician</p>
            </div>
            <div class="column">
                <h5>My Contribution</h5>
                <p> CAD, Design Engineering, Experiment and Testing using Arduino, 
                    electronics
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <h5>About the Team</h5>
                <p>Worked alongside phD students and full time research assistants</p>
            </div>
            <div class="column">
                <h5>Year</h5>
                <li>2024 May - 2024 Jun</li>
                <li>2019 Oct - 2020 Jul</li>
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <h5>Platform</h5>
                <p>SolidWorks, Arduino IDE, Python, Processing</p>
            </div>
            <div class="column">
                <h5>Time Frame</h5>
                <p>11 months (cumulative)</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block gallery %}
<!-- Gallery -->
<div class="photo-collage">
    <div class="image-container">
        <img src="static/project_1/gif_2.gif" alt="Looping animation 2" />
        <img src="static/project_1/airlab_2.jpg" alt="picture" />
    </div>

    <div class="image-container">
        <img src="static/project_1/gif_1.gif" alt="Looping animation 1" />
        <img src="static/project_1/airlab_3.jpg" alt="picture" />
    </div>

    <div class="image-container">
        <img src="static/project_1/gif_3.gif" alt="Looping animation 3" />
        <img src="static/project_1/airlab_1.jpg" alt="picture" class="responsive-image" />
    </div>
</div>
<!-- Gallery -->
{% endblock %}

{% block section %}
<!-- CAD Section-->
<section id="cad"> 
    <div class="container">
        <h2>CAD work</h2>
        <p class="mt-3">Solidworks was new to me as I first joined Airlab, but over the months working with it,
            I would say I have managed to attain a good skill level and proficiency in modelling, working with 
            big assemblies, rendering, creating engineering drawings, using FEA method analysis. I have designed
            over 20 parts for the drone and drone testing applications.
        </p>
        <div class="content-wrapper">
            <div class="education">
                <h5>Suppourt Structure for Pipe & Power Line</h5>
                <ul>
                    <li>Integrated caster wheels and rolling mechanism to a tripod stand</li>
                    <li>Utilised 3D printed parts, bearings and carbon rod </li>
                </ul>
            </div>

            <div class="visuals">
                <img src="static/project_1/suppourt_struc.gif" alt="Looping animation 4" />
                <iframe src="static/project_1/Suppourt_structure.html" ></iframe>
            </div>
        </div>
    </div>

<!-- Second content block: Image 2 & CAD Works -->
<div class="container">
    <div class="content-wrapper">
        <div class="visuals">
            <img src="static/project_1/pipeholder.gif" alt="Looping animation 5" />
            <iframe src="static/project_1/pipe_mount.html" ></iframe>
      
        </div>

        <div class="education">
            <h5>High pressure water pipe mount</h5>
            <ul>
                <li>Experimented using different mechanisms such as ball bearings, clamps</li>
                <li>Final design consists of 3 parts, using a hinge and clamp mechanism</li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="content-wrapper">
        <div class="education">
            <h5>Over 20 parts designed</h5>
            <ul>
                <li>Designed and 3D printed parts different drone applications</li>
            </ul>
        </div>

        <div class="visuals">
            <img src="static/project_1/gif_4.gif" alt="Looping animation 6" />
            <iframe src="static/project_1/power_line_connector_mount.html" ></iframe>
        </div>
    </div>
</div>

<div class="container">
    <div class="content-wrapper">
        <div class="visuals">
            <img src="static/project_1/picture21.jpg" />
            <iframe src="static/project_1/drone.html" ></iframe>
      
        </div>

        <div class="education">
            <h5>Assemblies and FEA analysis</h5>
            <ul>
                <li>Worked with big assemblies</li>
                <li>Used FEA for structural optimization</li>
            </ul>
        </div>
    </div>
</div>
</div>

</section>

<!-- Programming and electronics works Section-->
<section id="programming">
    <div class="container">
        <h2>Programming and Electronics</h2>
        <p class="mt-3">During my time at AirLab, I was responsible for developing 
            experimental test rigs using sensors for research applications. I worked with 
            load sensors paired with HX711 amplifier boards, utilizing 
            Arduino IDE, Python, and Processing for data acquisition and analysis. 
            The project also involved hardware integration through soldering and 
            3D printing.
        </p>
        <div class="content-wrapper">
            <div class="visuals">
                <img src="static/project_1/forceplate.gif" alt="Looping animation 7" />
                <iframe src="static/project_1/Force_plate_assembly.html" ></iframe>
            </div>

            <div class="education">
                <h5>Sensor Matrix / Force Plate</h5>
                <ul>
                    <li>Used load sensors to create a surface where the force of high 
                        pressure water jet can be analysed when hitting a surface</li>
                    <li>Used Arduino for data acquisition and calibration of sensors, and
                        Processing for real-time data visulisation
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- Second content block: Image 2 & CAD Works -->
<div class="container">
    <div class="content-wrapper">
        <div class="education">
            <h5>Water Jet Testing Rig</h5>
            <ul>
                <li>Designed a test rig that uses load cells 
                    to measure water jet propulsion force while the drone is airborne
                </li>
                <li>Test rig constructed using aluminium extrudes, 3D printed parts, Arduino board and electronics</li>
                <li>Target is connected to a triangular pivot system to allow force to be transmitted
                    to load cells
                </li>
            </ul>
        </div>

        <div class="visuals">
            <iframe src="static/project_1/Jet_force_rig.html" ></iframe>
            <img src="static/project_1/jetforce.gif" alt="Looping animation 8" />
        </div>
    </div>
</div>
</div>
</section>

<!-- Testimonial-->
<section id="testimonial">
    <div class="container">
        <h2 style="margin-bottom: 30px;">Testimonial </h2>
       
        <div class="content-wrapper_testimonial">
            <div class="visuals_2">
                <img src="static/project_1/testimonial.jpg" alt="testimonial" />
               
            <div class="education">
                <h5>Words from my supervisor</h5>
                <ul>
                    <li_testimonial>Mr. Haikal, demonstrated strong proficiency in SolidWorks,
                        designing and modeling numerous components for the project. He showed particular aptitude in
                        managing complex assemblies and applying design solutions to engineering challenges. Haikal collaborated effectively with PhD researchers and research assistants, consistently met
                        project deadlines, and required minimal supervision. His practical skillset, reliability, and
                        problem-solving mindset made him a valuable asset to our team. ~~ Shawndy Michael Lee, Research Fellow, Ph.D.
                    </li_testimonial>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 4rem;">
        <div class="content-wrapper">
            <div class="education">
                <h5>Full Testimonial</h5>
                <ul>
                    <li>Document in .pdf</li>
                </ul>
            </div>

            <div class="visuals_vid">
                <div class="image-wrapper">
                    <iframe
                      src="static/project_1/Haikal_testimonial.pdf"
                    ></iframe>
                  </div>

            </div>
        </div>
    </div>  
</div>
{% endblock %}

{% block navigation %}
<!-- Navigation Section -->
<section id="navigation-section" class="py-5">
    <div class="container">
    <div class="row align-items-center">
      <!-- Back to Top Button (Left) -->
      <div class="col-md-6">
        <a href="#top" class="btn custom-btn-left back-to-top">
          ↑ Back to Top
        </a>
      </div>

      <!-- Right Navigation Button -->
      <div class="col-md-6 text-end">
        <a href="{{ url_for('views.project_2') }}#top" class="btn custom-btn-right">
          Mechanical Toy Car →
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block stl %}
 <!-- Import the custom STL viewer script -->

 {% endblock %}
